In [2]:
df = pd.read_parquet('walmart.parquet').sample(n=100)
df.head(1)

,weekly_sales,sid,dept,store,type,size,temperature_stdev,fuel_price_avg,fuel_price_stdev,cpi_avg,cpi_stdev,unemployment_avg,unemployment_stdev,holidayfreq
33949,1,285516,74,33,1,39690,94.41,0.753857,3.495,0.411343,128.65886,2.356712,8.361333,1.176077

In [2]:
df.to_csv('walmart_n100.csv')

In [4]:
import sqlite3

conn = sqlite3.connect('walmart_n100.db')
df.to_sql('walmart', conn, if_exists='replace')
conn.close()