In [2]:
# https://qiita.com/Hyperion13fleet/items/afa49a84bd5db65ffc31
import featuretools as ft

In [3]:
# Loads test data
data = ft.demo.load_mock_customer()
df = data['sessions']
df.head(1)

   session_id  customer_id   device session_start
0           1            2  desktop    2014-01-01

In [12]:
import category_encoders as ce

oh = ce.OneHotEncoder(cols=['device'], handle_unknown='impute')
df1 = oh.fit_transform(df)
df1.head(1)

   session_id  customer_id  device_1  device_2  device_3 session_start
0           1            2         1         0         0    2014-01-01

In [13]:
oe = ce.OrdinalEncoder(cols=['device'], handle_unknown='impute')
df2 = oe.fit_transform(df)
df2.head(5)

   session_id  customer_id  device       session_start
0           1            2       1 2014-01-01 00:00:00
1           2            5       2 2014-01-01 00:17:20
2           3            4       2 2014-01-01 00:28:10
3           4            1       2 2014-01-01 00:44:25
4           5            4       2 2014-01-01 01:11:30

In [18]:
oe.mapping

[{'col': 'device', 'mapping': desktop    1
  mobile     2
  tablet     3
  NaN       -2
  dtype: int64, 'data_type': dtype('O')}]