In [1]:
df = pd.read_parquet('walmart.parquet').sample(n=100)
df.head(1)

,weekly_sales,sid,dept,store,type,size,temperature_stdev,fuel_price_avg,fuel_price_stdev,cpi_avg,cpi_stdev,unemployment_avg,unemployment_stdev,holidayfreq
24587,4,137317,87,26,1,152513,37.546667,13.615926,3.469333,0.514733,134.545566,2.861797,7.962,0.524667

In [2]:
df.to_csv('walmart_n100.csv')

In [4]:
import sqlite3

conn = sqlite3.connect('walmart_n100.db')
df.to_sql('walmart', conn, if_exists='replace')
conn.close()