In [1]:
%load_ext sql
%sql sqlite:///walmart_n100.db

'Connected: @walmart_n100.db'

In [2]:
# https://towardsdatascience.com/jupyter-magics-with-sql-921370099589
result = %sql select * from walmart;

 * sqlite:///walmart_n100.db
Done.

In [3]:
type(result)

sql.run.ResultSet

In [4]:
df = result.DataFrame()
df.head(1)

,index,weekly_sales,sid,dept,store,type,size,temperature_stdev,fuel_price_avg,fuel_price_stdev,cpi_avg,cpi_stdev,unemployment_avg,unemployment_stdev,holidayfreq
0,24587,4,137317,87,26,1,152513,37.546667,13.615926,3.469333,0.514733,134.545566,2.861797,7.962,0.524667

In [ ]:
import pandas_profiling

profile = df.profile_report(title='Pandas Profiling Report', style={'full_width':True})
profile.to_file(output_file='sqlite-pandas-profile.html')
from IPython.display import HTML
HTML('sqlite-pandas-profile.html')